/* UserPermission CSS */
.user-info {
  padding: 0 50px;
}
#users {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  height: 100%;
}

th {
  background-color: white;
  color: black;
  border: 2 px solid #ddd;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

td {
  text-align: center;
  padding-top: 20px;
}

td label {
  margin-right: 10px;
}
