#loan {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  height: 100%;
}
thead {
  border: 1px solid #bfbfbf;
  height: 40px;
  margin-top: 5px;
}
input[type='checkbox'] {
  accent-color: #010e2a;
}

th {
  font-size: 15px;
}

td {
  font-size: 14px;
}
