.the-clientapp-history {
  font-weight: 900;
  font-size: 14px;
}

.spaced-down-up {
  padding-top: 20px;
  padding-bottom: 20px;
}


.spaced-down {
  padding-bottom: 20px;
}

.spaced-up {
  padding-top: 20px;
}

.the-client-container {
    display: flex;
    justify-content: space-between;
}



.the-client-container input {
  padding-left: 5px;
  width: 200px;
  height: 40px;
  border-radius: 0.3rem;
  border: 1px solid #83a1e8;
}

.the-client-container label {
  font-size: 13px;
  font-weight: small;
  color: #7A7979;
}

.the-proof-button {
  padding-left: 5px;
  width: 200px;
  height: 40px;
  border-radius: 0.3rem;
  border: 1px solid #83a1e8;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.ownership-proof {
  padding-top: 20px;
}

.client-padding {
  padding-bottom: 15px;
}

.clientsPadding {
  padding-top: 15px;
}

.labels-settings {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}



::placeholder {
  color: black;
  font-size: 12px;
  font-weight: lighter;
  padding: 10px;
}







@media only screen and (max-width: 768px){
.the-client-container {
  flex-direction: column;
  align-items: center;
}

.the-client-container p {
  font-size: 12px;
}

.the-client-container input {
  padding-left: 5px;
  width: 250px;
  height: 40px;
  border-radius: 0.3rem;
  border: 1px solid #83a1e8;
}

.labels-settings {
  padding-top: 20px;
}


.the-proof-button {
  padding-left: 5px;
  width: 250px;
  height: 40px;
  border-radius: 0.3rem;
  border: 1px solid #83a1e8;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.the-clients-h5 {
  padding-left: 150px;
}

}

