.flex-cont {
  display: flex;
  align-items: center;
  gap: 15rem;
  margin: 0 20px;
  padding-bottom: 20px;
}

.profile-cont {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profileImage {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

caseId {
  color: #297F04;
  font-size: 12px;
  font-weight: 700;
}

.tel-no {
  font-size: 14px;
}


.active-button {
  background-color: #00d43d;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 0.2rem;
  margin-top: 30pxpx;
}



.prof-type {
  display: flex;
  align-items: center;
  gap: 10px;
}

.prof-contact {
  display: flex;
  align-items: center;
}

.prof-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 30px;
}

.highlighted-client {
   background-color:  #f0f4fc;
   padding: 20px;
}
