.risk-score {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-top: 10px;
  gap: 50;
}
.rs-highlighted {
  background-color: #f0f4fc;
  width: 500px;
  padding: 4px;
  border-radius: 0.5rem;
}

.rs-sizeb p {
  font-size: 14px;
  font-weight: 700;
}

.rs-size {
  font-size: 14px;
}
