.messageWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.messageBox {
  display: flex;
  align-items: center;
  gap: 20px;
}

.messageWrapper img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.messageTitle h5 {
  font-size: 16px;
  font-weight: 700;
}

.messageTitle p {
  margin-top: 0;
  font-size: 14px;
  font-weight: 400;
  color: #717070;
}

.time {
  font-size: 16px;
  font-weight: 400;
  color: #8d8787;
}
