/* SUPPORT PAGE */
.overall {
  width: 76.5vw;
  margin-left: 20px;
}

.section-1 {
  background-color: rgb(240, 244, 252);
  height: 65px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-1-p1 {
  font-weight: 600;
}

.section-1-button {
  background-color: rgb(4, 41, 200);
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 16px;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 8px;
}

.section-2 {
  background-color: rgb(240, 244, 252);
  height: 65px;
  padding: 10px 10px 10px 20px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 15px;
}

.section-2-select {
  width: 99%;
  outline: none;
  padding: 5px;
  border-top: 0.8px solid rgb(189, 186, 186);
  border-right: 0.8px solid rgb(189, 186, 186);
}

.option {
  padding: 5px;
  margin-bottom: 20px;
}

.section-3 {
  margin-top: 1%;
  background-color: rgb(240, 244, 252);
  height: 65px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 15px;
}

.section-3 .p1 {
  font-weight: 600;
}

.section-4 {
  background-color: rgb(240, 244, 252);
  height: 65px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 15px;
}

/* CHATBOX PAGE */

.chatbox-container {
  width: 400px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin: 30px auto;
}

.chatbox-header {
  text-align: center;
  margin-bottom: 10px;
}

.chatbox-messages {
  height: 200px;
  overflow-y: scroll;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chatbox-message {
  margin-bottom: 5px;
  background-color: #f2f2f2;
  padding: 5px;
}

.chatbox-input {
  display: flex;
}

.chatbox-input input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.chatbox-input button {
  padding: 5px 10px;
  background-color: rgb(4, 41, 200);
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
}

/* TOLL-FREE PAGE */
.toll-free-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.toll-free-header {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
  background-color: rgb(4, 41, 200);
  padding: 7px;
  border-radius: 7px;
}

.toll-free-info {
  text-align: center;
}

.toll-free-number {
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Report Issue Page */
.report-issue-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.report-issue-header {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.report-issue-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.report-issue-label {
  margin-bottom: 5px;
}

.report-issue-select,
.report-issue-textarea {
  padding: 5px;
  margin-bottom: 10px;
}

.report-issue-submit {
  padding: 10px;
  background-color: rgb(4, 41, 200);
  color: white;
  border: none;
  cursor: pointer;
  margin: 0px;
  width: 22.5vw;
}

.breadcrumbs {
  font-size: 12px;
  font-weight: 700;
  color: #010e2a;
}

.section-2-select option {
  font-size: 14px;
}
