* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.resetPassword {
  display: flex;
  height: 100%;
  background-color: #dcf3e7;
}
.formWrapper {
  height: 100%;
  padding: 20px 50px;
  flex: 0 0 75%;
}
.resetPass-form {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resetWrapper {
  width: 50%;
  margin: auto;
}

.resetPassword .resetImage {
  height: 100vh;
  flex: 0 0 25%;
  object-fit: cover;
  object-position: center;
}

.resetPassword h1 {
  margin-bottom: 2rem;
}

.resetPassword .input {
  width: 28rem;
  height: 3rem;
  background-color: rgb(255, 255, 255);
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}
.resetPassword form .formButton {
  width: 28rem;
  background: #010e2a;
  color: white;
  padding: 10px 0;
}

@media screen and (max-width: 768px) {
  .formWrapper {
    padding: 20px;
  }
  .resetPassword {
    display: block;
  }
  .resetWrapper {
    width: 80%;
  }
  .resetPassword .input {
    width: 100%;
  }
  .resetPassword .resetImage {
    display: none;
  }
  .resetPassword form .formButton {
    width: 100%;
  }
}
