* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.resetPassword {
  display: flex;
  height: 100%;
  background-color: #f0f4fc;
}

.formWrapper {
  height: 100%;
  padding: 20px 70px;
  flex: 0 0 70%;
  background-color: #f0f4fc;
}
.resetPass-form {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resetWrapper {
  width: 50%;
  margin: auto;
}

.resetPassword .resetImage {
  height: 100vh;
  flex: 0 0 30%;
}

.resetPassword h1 {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 10px;
}

.resetPassword .input {
  display: block;
  padding: 8px 10px;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}
.formButton {
  width: 100%;
  background: #010e2a;
  font-size: 18px;
  font-weight: 700;
  color: white;
  padding: 12px 0;
  outline: none;
  border: none;
  border-radius: 8px;
}

.textfield-wrapper {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .formWrapper {
    padding: 20px;
  }
  .resetPassword {
    display: block;
  }
  .resetWrapper {
    width: 80%;
  }
  .resetPassword .input {
    width: 100%;
  }
  .resetPassword .resetImage {
    display: none;
  }
  .resetPassword form .formButton {
    width: 100%;
  }
}
