body {
  font-family: 'Montserrat', sans-serif;
}

#loan {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  height: 100%;
}
thead {
  border: 1px solid #83a1e8;
  height: 30px;
}
input[type='checkbox'] {
  accent-color: #010e2a;
}

th {
  font-size: 16px;
  font-weight: 700;
  color: #010e2a;
}
.blue-row {
  background-color: #f0f4fc;
  border-bottom: 10px solid white;
}
tr:hover {
  background-color: #94afee;
}

td {
  font-size: 14px;
  font-weight: 500;
}

.status-approved {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 12px;
  background-color: #33dd64;
  color: white;
  font-size: 13px;
  font-weight: lighter;
  width: 140px;
  height: 30px;
  border-radius: 3rem;
}

.status-defaulted {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 12px;
  width: 140px;
  height: 30px;
  border-radius: 3rem;
  background-color: #dc3969;
  color: white;
  font-size: 13px;
  font-weight: lighter;
}
.status-closed {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 12px;
  width: 140px;
  height: 30px;
  border-radius: 3rem;
  background-color: #88a5ea;
  color: white;
  font-size: 13px;
  font-weight: lighter;
}
.status-extended {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 12px;
  width: 140px;
  height: 30px;
  border-radius: 3rem;
  background-color: #33dd64;
  color: white;
  font-size: 13px;
  font-weight: lighter;
}

.status-pending {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 12px;
  width: 140px;
  height: 30px;
  border-radius: 3rem;
  background-color: #f5c445;
  color: white;
  font-size: 13px;
  font-weight: lighter;
}
.status-active {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 12px;
  width: 140px;
  height: 30px;
  border-radius: 3rem;
  background-color: #365499;
  color: white;
  font-size: 13px;
  font-weight: lighter;
}
.status-due {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 12px;
  width: 140px;
  height: 30px;
  border-radius: 3rem;
  background-color: #f5c445;
  color: white;
  font-size: 13px;
  font-weight: lighter;
}
.status-incomplete-docs {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 12px;
  width: 140px;
  height: 30px;
  border-radius: 3rem;
  background-color: white;
  color: black;
  font-size: 13px;
  font-weight: lighter;
}
.status-received-docs {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 12px;
  width: 140px;
  height: 30px;
  border-radius: 3rem;
  background-color: #343e55;
  color: white;
  font-size: 13px;
  font-weight: lighter;
}
