/* Client CSS */
.client-info {
  margin: 0 20px;
}

#clients {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  height: 100%;
}

#client-title {
  border-collapse: collapse;
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 16px;
  font-weight: 700;
}

#client-data {
  border-collapse: collapse;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: 400;
}

#clients-colorA {
  color: green;
}

#clients-colorD {
  color: rgba(243, 35, 97, 0.945);
}

#clients-colorP {
  color: gold;
}

#clients-colorAP {
  color: #7ce612;
}
.p-10 {
  padding: 10px 0;
}

.search-box {
  display: flex;
  gap: 30px;
  align-items: center;
}

.search-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #000;
  width: 400px;
  padding: 5px 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.search-input {
  border: none;
  outline: none;
  width: 90%;
}

.search-print {
  display: flex;
  gap: 30px;
}

.btn-print,
.btn-filter {
  font-size: 14px;
  font-weight: 500;
  padding: 10px 20px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 1px solid #bfbfbf;
  border-radius: 8px;
}

.btn-export {
  padding: 10px 20px;
  background-color: #0744d3;
  color: #fff;
  cursor: pointer;
  margin-right: 40px;
  border: none;
  outline: none;
  border-radius: 8px;
}

.btn-filter {
  width: 200px;
  text-align: left;
}

/* General Information Styling*/
.heading {
  margin: 1rem;
}

.information-style {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.information-boxes {
  width: 50%;
  border:1px solid lightgrey;
  border-radius: 5px;
  margin:1rem;
  padding: 0.3em;
  font-size: 12px;
}

.information-box {
  width:100%;
  border:1px solid lightgrey;
  border-radius: 5px;
  margin:1rem;
  padding: 0.3em;
  font-size: 12px;
}


.information-label {
  font-size: 12px;
  color: #bfbfbf;
  margin: 1rem;
} 

/*Loan Details styling*/
.loan-wrapper {
  display: flex;
  flex-direction: column;
}

.loan-history {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 0.2rem;
  border:1px solid lightgrey; 
  padding-left: 50px;
}

.percent-border {
  width:100px;
  height:15px;
  margin-top:1.0rem;
  background-color: rgb(236, 234, 234);
  border-radius:20px;
}
.black-background {
  background-color: black;
  text-align: center;
  width:90px;
  height:15px;
  border-radius:15px;
  color:white;
}
.green-background {
  background-color: rgb(16, 131, 16);
  margin-top:1.0rem;
  text-align: center;
  height:15px;
  border-radius:15px;
  color:white;
  width:100px
}

.loan-information {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.loan-responses p, 
.collateral-information p {
  width: 30%;
  border:1px solid lightgrey;
  border-radius: 5px;
  height: 25px;
  padding-left: 10px;
  padding-top: 10px;
}

.collateral-information {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/*Document*/
.file {
  display: flex;
  gap: 50;
}
