.general-information {
  width: 100%;
  padding-bottom: 2.5px;
  padding-top: 2.5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.general-information h5 {
  font-size: 18px;
}

.personal-information-forms {
  font-family: Arial, sans-serif;
}

.personal-forms-settings {
  display: flex;
  justify-content: space-between;
}

.the-label-settings {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.personal-information-forms label {
  font-size: 13px;
  font-weight: small;
  color: #7A7979;
}

.the-label-settings input {
  padding-left: 5px;
  width: 200px;
  height: 40px;
  border-radius: 0.3rem;
  border: 1px solid #83a1e8;
}

.the-label-settings label {
  padding-bottom: 5px;
}

.the-address-settings {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.the-address-settings input {
  width: 625px;
  height: 40px;
  border-radius: 0.4rem;
  border: 1px solid #83a1e8;
  
}

.the-address-settings label {
  padding-bottom: 5px;
}


::placeholder {
  color: black;
  font-weight: lighter;
  font-size: 12px;
  padding: 5px;
}

.client-paddings {
  padding-bottom: 20px;
}


@media screen and (max-width: 768px) {
  .personal-forms-settings {
    flex-direction: column;
    align-items: center;
  }

  .general-information h5 {
    font-size: 14px;
  }
  

  .the-address-settings input {
    width: 250px;
    height: 40px;
    border-radius: 0.4rem;
    border: 1px solid #83a1e8;
    
  }
  
  .the-label-settings input {
    padding-left: 5px;
    width: 250px;
    height: 40px;
    border-radius: 0.3rem;
    border: 1px solid #83a1e8;
  }

  .the-gen-information {
    padding-left: 150px;
  }
}
  