.flex-container {
    display:flex;
    justify-content: space-between;
    line-height: 3.5rem;
}
 /* .flex-container label {
    
} */
 .flex-container input {
    width: 200px;
    height:40px;
    border-radius: 0.5rem;
    border: 1px solid grey;
} 