.risk-score {
  display: flex;
  padding-top: 10px;
}

.risk-comment{
  font-size: 14px;
  font-weight: 700;
}
.rs-highlighted {
  background-color: #f0f4fc;
  width: 320px;
  height: 80px;
  padding: 4px;
  border-radius: 0.5rem;
}

.riskComment {
  font-size: 14px;
}

.rs-sizeb p {
  font-size: 14px;
  font-weight: 700;
}

.rs-size p {
  font-size: 14px;
}
.rs-space{
  margin-right: 55px;
}

.risk-space {
  margin-right: 80px;
}